.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 90vw;
}

@media screen  and (min-width: 1280px) {
  .cover__subtitle {
    top: 19.6em;
    position: absolute;
    left: 421px;
    max-width: 360px;
    max-height: 66px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: white;
    margin: 0;
  }
}
