.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 90vw;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    max-width: 46.875vw;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover__subtitle {
    max-width: 35.15625vw;
  }
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    max-width: 360px;
    width: 360px;
  }
}
