.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 90vw;
  padding-top: 5%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 28px;
    max-width: 93.75vw;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 90.625vw;
  }
}


@media screen and (min-width: 1280px) {
  .header {
    width: 1184px;
    max-width: 1184px;
  }
}
