.footer__link{
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-decoration-line: none;
}

@media screen and (min-width: 1280px) {
  .footer__link{
    color: white;
    width: 106px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
}
