.lead__image {
  max-width: 100vw;
  height: auto;
  background-image: url("/russian-travel/sprint-3-images/lead-polka.jpg");
}

@media screen and (min-width: 1024px) {
  .lead__image {
    max-width: 90.625vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    max-width: 76.875vw;
  }
}
