.cover__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .cover__title {
    position: absolute;
    top: 166px;
    left: 312px;
    width: 95%;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: 0;
    max-width: 560px;
    text-decoration: none;
    color: white;
  }
}
