.footer {
  background-color: #2A2C2F;
  display: flex;
  flex-direction: column;
  margin-left: 5.625vw;
  padding-top: 64px;
  padding-bottom: 24px;
  row-gap: 48px;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 93.75vw;
    margin: 0 auto;
    padding-top: 88px;
    padding-bottom: 24px;
    flex-direction: row;
    justify-content: space-between;
  }
}

