.place__url-heading {
  text-transform: uppercase;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .place__url-heading {
    line-height: 170%;
  }
}

@media screen and (min-width: 1280px) {
  .place__url-heading {
    line-height: 12px;
  }
}
